.nav {
  flex-direction: column;
  height: 80px;
  /* width: 600px; */
}
.navsec {
  height: 720px;
  width: 100vw;
}
.text button {
  position: relative;
  top: 60px;
  background-color: rgb(21, 177, 125);
  padding-left: 2px;
}

.cards {
  flex-direction: column;
}

.clientbox {
  display: flex;
  overflow: hidden;
  width: 100vw;
}
.first {
  position: relative;
  top: 420px;
}

.clients {
  margin-top: 1020px;
  width: 100vw;
}
